.jumbotron {
    background-image: url("../img/jumbo-bgrnd.png");
    background-size: cover;
    min-height: 500px;
    max-height: 500px;
}

#top-jumbo{
    margin-bottom: 50px;
}

#jumbo-page-name{
    padding-top: 150px;
    color : white;
}

.myWell{
    margin-left: 10%;
    margin-right: 10%;
    display: block;
}


.well-img{
    display:inline-block;

    border-color: #0f0f0f;
    position: inherit;
}

.wellName{
    padding-bottom: 15px;
}

.bottom-nav{
    margin-top:100px;
    margin-bottom:150px;
}

.image-div{
    margin:10px;
}

.clickable:hover{
    cursor: hand;
    cursor: pointer;
    opacity: .75;
}

.tab-content pre{
	min-height: 400px;
	height: 400px;
	overflow-y: scroll;
	background-color: white;
}

.inline-pre{
	white-space: pre;
	font-family: monospace;
	background-color: white;
	margin-top: 10px;
	margin-bottom: 10px;
}

.pet-info-row{
    padding: 5px;
}

.hilight{
	color: red;
}

#result-pre{
	min-height: 400px;
	height: 400px;
	overflow: scroll;
	background-color: white;	
}

#panel-info{
    min-height: 200px;
}

hr{
    display: block;
    margin-top: .5em;
    margin-bottom: 1em;

    border-width: 1px;
    border-color: #6f6f6f;
}
h4{
    margin-top: 1.5em;
    margin-bottom: .5em;
}

ul{
	margin-top: 5px;
	margin-bottom: 10px;
}

.mySelector{
    display: inline;
}